{% extends 'pancook.html.twig' %}

{% block title %}Pancook - Mentions légales
{% endblock %}

{% block content %}
	<header class="header cooking">
		<div class="overlay">
			<h1>Pancook</h1>
			<h6>Blog de cuisine pour amateur</h6>
		</div>
	</header>

	<main class="container mt-5">
		<h2>Mentions légales</h2>
		<p>Mentions légales publiées le 24 juin 2024</p>
		<h3>Directeur de publication</h3>
		<p>Bienvenue sur Pancook un blog édité par Childéric KHUTH.</p>
		<h3>Propriété intellectuelle</h3>
		<p>L'ensemble des éléments présents sur ce site web sont la propriété exclusive de "Pancook" cela inclut textes, savoir-faire ainsi que tous les éléments composant le site. Toutes utilisations partielles ou totales sont strictement interdites si il n' y a pas eu d'accord préalable avec les éditeurs des articles ou propriétaires du site web Pancook.</p>
		<h3>Droits d'auteurs</h3>
		<p>Nous ne sommes en aucun cas et à aucun moment responsable de l'utilisation des informations, quelles que soient les conséquences qu'elles engendrent. Peu importe la raison, il est strictement interdit de se représenter totalement ou partiellement comme "Pancook", cela représente un violation de la loi, d'après l'article L. 335-2 et suivants du Code de la propriété intellectuelle.</p>
		<h3>Responsabilité</h3>
		<p>Pancoook n'est pas responsable d'un quelconque problème technique qui peut être présent sur le site ou dans les téléchargements liés à celui-ci. Que ce soit lors de la connexion au site web ou lors de l’acheminement vers des liens externes au site, seuls les hébergeurs des sites sont responsables des problèmes techniques qui peuvent être rencontrés. Le site web s’applique à fournir des informations aussi précises que possible il ne pourra lui en tenir rigueur en cas d’incertitudes ou de retard de mises à jour. Les informations regroupées sur le site sont à titre indicatif et peuvent être modifiées à leur date de publication.</p>
		<h3>Avertissement général</h3>
		<p>L'ensemble des éléments présents sur ce site web sont mis à disposition des internautes gratuitement et sans aucune garantie. Ces éléments et informations  sont sous l'entière  responsabilité des internautes. Toutes les informations, textes et autres disponibles sur le site web, proviennent de sources extérieures, site web, livre, article… Nous ne garantissons pas qu'elles soient exactes, certaines informations peuvent être sources d'erreurs, contenir des fautes ou être inexactes. Ils est aussi possible qu'elle ne soit plus à jour sur l'actualité.</p>
		<h3>Politique de confidentialité</h3>
		<p>Notre site web récolte des données, celles-ci ne sont  aucunement revendus ou cédées à des entreprises ou organismes tiers. Aucune adresse mail, mot de passe et autres informations personnelles ne sera transmise à autrui collaborateur et partenaires compris.</p>
		<h3>Copyright et crédits</h3>
		<p>Lorsque notre site web utilise des images ou visuels présentant des crédits ou copyright, cela est précisé dans l'article qu'elles viennent d'un professionnel ou d'un particulier. Sites webs externes d'où provient certain contenu présent sur le blog :</p>
		<ul>
			<li>Pancake Moelleux : recette facile :
				<a href="https://www.marmiton.org/recettes/recette_pancakes_15299.aspx" target="_blank">Marmiton</a>
			</li>
			<li>L'image de Pancake qu'on retrouve sur plusieurs pages sur l'en-tête :
				<a href="https://www.allrecipes.com/" target="_blank">AllRecipes</a>
			</li>
			<li>Les différentes images utilisés pour les articles :
				<a href="https://www.shutterstock.com/" target="_blank">Shutterstock</a>
			</li>
		</ul>
	</main>
{% endblock %}
