<h1>Bonjour, veuillez vérifiez votre adresse mail !</h1>

<p>
    Veuillez confirmer votre adresse mail avec le lien suivant <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse mail</a>.
    Ce lien va expirer dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Culinairement vôtre !
</p>
