{% extends 'base.html.twig' %}

{% block title %}Envoi de mail pour réinitialisation de mot de passe{% endblock %}

{% block body %}
    <p>
        Si votre adresse mail existe, vous allez recevoir un mail avec un lien pour réinitialiser votre mot de passe.
        Ce lien va expirer dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas votre mail veuillez regarder dans vos spam <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
{% endblock %}
