{% extends 'admin/admin.html.twig' %}


{% block title %}
	Modification d'une catégorie
{% endblock %}

{% block content %}
	<h1>Modification d'une catégorie</h1>
	<div class="button-container">
		<a href="{{path('admin_category_index')}}"><button>Retourner voir la liste des catégories</button></a>
	</div>
	{{ form(form) }}
{% endblock %}
