{% extends 'pancook.html.twig' %}

{% block title %}Ajout d'un article{% endblock %}

{% block content %}
	<header class="header cooking">
		<div class="overlay">
			<h1>Pancook</h1>
			<h6>Blog de cuisine pour amateur</h6>
		</div>
	</header>

	<main class="container mt-3">
		<h2>Ajout d'un article</h2>
		{{ form(form) }}
    </main>
{% endblock %}
