{% extends 'pancook.html.twig' %}

{% block title %}
	Pancook - Page d'accueil
{% endblock %}

{# SEARCH BAR #}
{% block search_bar %}
	{% include "components/_search.html.twig" with {
		form: form ?? null
	} only %}
{% endblock %}

{% block content %}
	{# HEADER #}
	<header class="header">
		<div class="overlay">
			<h1>Pancook</h1>
			<h5>Blog de cuisine pour amateur</h5>
			{% if is_granted("ROLE_USER") %}<h6>Bienvenue sur Pancook {{ app.user.username }}</h6>{% endif %}
		</div>
	</header>
	
	{# MAIN #}
	<main
		class="container" data-images='[{% for post in posts %}"{{ post.imageName }}"{% if not loop.last %}, {% endif %}{% endfor %}]'>
		{# DROPDOWN CATEGORIES #}
		<aside>
			{% include "components/_dropdown.html.twig" with {
					categories: allCategories
				} only %}
		</aside>

		{# POSTS #}
		<div class="content-wrapper">
			<div class="main-content">
				{% for post in posts %}
					{% include "components/_post.html.twig" %}
				{% endfor %}
			</div>
		</div>

		{# PAGINATION #}
		<div class="d-flex justify-content-center mb-3">
			{{ knp_pagination_render(posts) }}
		</div>
	</main>
{% endblock %}

{# JAVASCRIPTS #}
{% block final_javascripts %}
	<script src="/app.js" type="module"></script>
	<script src="/pancook/js/like.js" type="module"></script>
	<script src="/pancook/js/changeBg.js"></script>
	<script src="/pancook/js/header.js" type="module"></script>
{% endblock %}
