<article class="comment mt-3">
	<p>{{ comment.content | sanitize_html }}</p>
	<p class="comment-user">
		<small>{{ comment.user.username }}
			- le
			{{ comment.createdAt | date('d/m/Y à H:i') }}
        </small>
	</p>
	{% if (app.user == comment.user) or (is_granted("ROLE_ADMIN")) %}
		{% include "components/_deleteComment.html.twig" %}
	{% endif %}
</article>
